body {
	font-family: sans-serif;
}
.contentFrame {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
section {
	max-width: 320px;
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
	display: inline-block;
}
subsection {
	max-width: inherit;
}
subsection img {
	max-width: inherit;
}
cardImageSection img {
	width: 320px;
	height: 436px;
}